*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: lightpink;
}
.container{
    height: 30rem;
    width: 70%;
    position: relative;
    top: 100px;
    left: 15%;
    border: 3px solid black;
    background: url(img/1.jpg) center/cover;
    
}
.btn-left{
    position: absolute;
    top: 45%;
    
    cursor: pointer;
    color:yellow;
}
.btn-right{
    position: absolute;
    top: 45%;
    left: 93%;
    cursor: pointer;
    color: yellow;
}
